//- Все примеси в этом файле должны начинаться c имени блока (icon-button)

mixin icon-button(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +icon-button('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' icon-button--' + modsList[i].trim();
      }
    }

  button.icon-button(class=allMods)&attributes(attributes)
    block
