// В этом файле должны быть стили для БЭМ-блока icon-button, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.icon-button {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;

  &--opacity {
    opacity: $opacity;

    &:hover {
      opacity: 1;
    }
  }
}
