extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block sidebar
  +page-sidebar()
    +page-sidebar_header()
      +user-info()
        +user-info_avatar()
          +avatar('img/avatar-user.jpg', 'img/avatar-user@2x.jpg')
        +user-info_name()
          | Kyle Ledbetter
        +user-info_email()
          +dropdown()
            | kyle@kyleledbetter.com
    +page-sidebar_content()
      +main-nav()
        +main-nav_group()
          +main-nav_list()
            +main-nav_item('current')
              +main-nav_link()(href="#")
                +main-nav_icon()
                  svg(width="20", height="20")
                    use(xlink:href="img/sprite.svg#access-time")
                +main-nav_text()
                  | Recent Contacts
            +main-nav_item()
              +main-nav_link()(href="#")
                +main-nav_icon()
                  svg(width="18", height="18")
                    use(xlink:href="img/sprite.svg#archive")
                +main-nav_text()
                  | Archive
            +main-nav_item()
              +main-nav_link()(href="#")
                +main-nav_icon()
                  svg(width="18", height="13")
                    use(xlink:href="img/sprite.svg#done")
                +main-nav_text()
                  | Replied
        +main-nav_group()
          +main-nav_list()
            +main-nav_item()
              +main-nav_link()(href="#")
                +main-nav_icon()
                  svg(width="21", height="18")
                    use(xlink:href="img/sprite.svg#send")
                +main-nav_text()
                  | Sent
            +main-nav_item()
              +main-nav_link()(href="#")
                +main-nav_icon()
                  svg(width="14", height="18")
                    use(xlink:href="img/sprite.svg#delete")
                +main-nav_text()
                  | Trash
            +main-nav_item()
              +main-nav_link()(href="#")
                +main-nav_icon()
                  svg(width="20", height="19")
                    use(xlink:href="img/sprite.svg#star")
                +main-nav_text()
                  | Starred
            +main-nav_item()
              +main-nav_link()(href="#")
                +main-nav_icon()
                  svg(width="20", height="20")
                    use(xlink:href="img/sprite.svg#forum")
                +main-nav_text()
                  | Forums
            +main-nav_item()
              +main-nav_link()(href="#")
                +main-nav_icon()
                  svg(width="14", height="16")
                    use(xlink:href="img/sprite.svg#flag")
                +main-nav_text()
                  | Updates

block header
  +page-header()
    +toolbar('header')
      +icon-button()
        svg(width="18", height="12")
          use(xlink:href="img/sprite.svg#burger")
      +toolbar_title()
        | Title
      +toolbar_spacer()
      +icon-button-group()
        +icon-button()(class="icon-button-group__item")
          svg(width="16", height="16")
            use(xlink:href="img/sprite.svg#refresh")
        +icon-button()(class="icon-button-group__item")
          svg(width="4", height="16")
            use(xlink:href="img/sprite.svg#more")

block content
  +page-main()(class="page__main")
    +person-block()(class="page-main__item")
      +person-list()
        +person-list_group()
          +person-list_note()
            svg(width="20", height="20")
              use(xlink:href="img/sprite.svg#star")
          - var personStar = [ { name: 'Carolyn Campbell', src: 'img/avatar-1.jpg', src2x: 'img/avatar-1@2x.jpg' }, { name: 'Jennifer Carpenter', src: 'img/avatar-2.jpg', src2x: 'img/avatar-2@2x.jpg' }, { name: 'James Connors', src: 'img/avatar-3.jpg', src2x: 'img/avatar-3@2x.jpg' }, { name: 'Beverly Harris', src: 'img/avatar-4.jpg', src2x: 'img/avatar-4@2x.jpg' } ];
          +person-list_list()
            each person in personStar
              +person-list_item()
                +person()
                  +person_avatar()
                    +avatar(person.src, person.src2x)
                  +person_name()
                    = person.name
        +person-list_group()
          +person-list_note()
            | A
          - var personA = [ { name: 'Brittany Delgado', src: 'img/avatar-5.jpg', src2x: 'img/avatar-5@2x.jpg' }, { name: 'Wayne Ray', src: 'img/avatar-6.jpg', src2x: 'img/avatar-6@2x.jpg' }, { name: 'Rachel Ross', src: 'img/avatar-1.jpg', src2x: 'img/avatar-1@2x.jpg' }, { name: 'Bruce Morales', src: 'img/avatar-2.jpg', src2x: 'img/avatar-2@2x.jpg' }, { name: 'Evelyn Morales', src: 'img/avatar-3.jpg', src2x: 'img/avatar-3@2x.jpg' }, { name: 'Marie Fuller', src: 'img/avatar-4.jpg', src2x: 'img/avatar-4@2x.jpg' } ];
          +person-list_list()
            each person in personA
              +person-list_item()
                +person()
                  +person_avatar()
                    +avatar(person.src, person.src2x)
                  +person_name()
                    = person.name
        +person-list_group()
          +person-list_note()
            | B
          - var personB = [ { name: 'Gregory Burton', src: 'img/avatar-1.jpg', src2x: 'img/avatar-1@2x.jpg' }, { name: 'Beverly Armstrong', src: 'img/avatar-2.jpg', src2x: 'img/avatar-2@2x.jpg' }, { name: 'Brittany Delgado', src: 'img/avatar-3.jpg', src2x: 'img/avatar-3@2x.jpg' }, { name: 'Carolyn Campbell', src: 'img/avatar-4.jpg', src2x: 'img/avatar-4@2x.jpg' } ];
          +person-list_list()
            each person in personB
              +person-list_item()
                +person()
                  +person_avatar()
                    +avatar(person.src, person.src2x)
                  +person_name()
                    = person.name
        +person-list_group()
          +person-list_note()
            | C
          - var personC = [ { name: 'Gregory Burton', src: 'img/avatar-1.jpg', src2x: 'img/avatar-1@2x.jpg' }, { name: 'Beverly Armstrong', src: 'img/avatar-2.jpg', src2x: 'img/avatar-2@2x.jpg' }, { name: 'Brittany Delgado', src: 'img/avatar-3.jpg', src2x: 'img/avatar-3@2x.jpg' }, { name: 'Carolyn Campbell', src: 'img/avatar-4.jpg', src2x: 'img/avatar-4@2x.jpg' } ];
          +person-list_list()
            each person in personC
              +person-list_item()
                +person()
                  +person_avatar()
                    +avatar(person.src, person.src2x)
                  +person_name()
                    = person.name
        +person-list_group()
          +person-list_note()
            | D
          - var personD = [ { name: 'Gregory Burton', src: 'img/avatar-1.jpg', src2x: 'img/avatar-1@2x.jpg' }, { name: 'Beverly Armstrong', src: 'img/avatar-2.jpg', src2x: 'img/avatar-2@2x.jpg' }, { name: 'Brittany Delgado', src: 'img/avatar-3.jpg', src2x: 'img/avatar-3@2x.jpg' }, { name: 'Carolyn Campbell', src: 'img/avatar-4.jpg', src2x: 'img/avatar-4@2x.jpg' } ];
          +person-list_list()
            each person in personD
              +person-list_item()
                +person()
                  +person_avatar()
                    +avatar(person.src, person.src2x)
                  +person_name()
                    = person.name
        +person-list_group()
          +person-list_note()
            | E
          - var personE = [ { name: 'Gregory Burton', src: 'img/avatar-1.jpg', src2x: 'img/avatar-1@2x.jpg' }, { name: 'Beverly Armstrong', src: 'img/avatar-2.jpg', src2x: 'img/avatar-2@2x.jpg' }, { name: 'Brittany Delgado', src: 'img/avatar-3.jpg', src2x: 'img/avatar-3@2x.jpg' }, { name: 'Carolyn Campbell', src: 'img/avatar-4.jpg', src2x: 'img/avatar-4@2x.jpg' } ];
          +person-list_list()
            each person in personE
              +person-list_item()
                +person()
                  +person_avatar()
                    +avatar(person.src, person.src2x)
                  +person_name()
                    = person.name
        +person-list_group()
          +person-list_note()
            | Z
          - var personZ = [ { name: 'Gregory Burton', src: 'img/avatar-1.jpg', src2x: 'img/avatar-1@2x.jpg' }, { name: 'Beverly Armstrong', src: 'img/avatar-2.jpg', src2x: 'img/avatar-2@2x.jpg' }, { name: 'Brittany Delgado', src: 'img/avatar-3.jpg', src2x: 'img/avatar-3@2x.jpg' }, { name: 'Carolyn Campbell', src: 'img/avatar-4.jpg', src2x: 'img/avatar-4@2x.jpg' } ];
          +person-list_list()
            each person in personZ
              +person-list_item()
                +person()
                  +person_avatar()
                    +avatar(person.src, person.src2x)
                  +person_name()
                    = person.name
          - var end;
    +person-block()(class="page-main__item page-main__item--detail")
      +person-detail()
        .person-detail__header(style="background-image: url(img/person-image.jpg)")
          +toolbar('transparent')
            +icon-button('opacity')
              svg(width="16", height="16")
                use(xlink:href="img/sprite.svg#arrow-back")
            +toolbar_spacer()
            +icon-button-group('small')
              +icon-button('opacity')(class="icon-button-group__item")
                svg(width="18", height="18")
                  use(xlink:href="img/sprite.svg#pencil")
              +icon-button('opacity')(class="icon-button-group__item")
                svg(width="4", height="16")
                  use(xlink:href="img/sprite.svg#more")
          .person-detail__name
            | James Connors
        .person-detail__content
          +person-list('indented')
            +person-list_group()
              +person-list_note('color-main')
                svg(width="20", height="20")
                  use(xlink:href="img/sprite.svg#phone")
              +person-list_list()
                +person-list_item()
                  +person-data()
                    +person-data_content()
                      +person-data_title()
                        | (650) 555-1234
                      +person-data_hint()
                        | Mobile
                    +person-data_more()
                      +icon-button()
                        svg(width="17", height="21")
                          use(xlink:href="img/sprite.svg#hangout")
                +person-list_item()
                  +person-data()
                    +person-data_content()
                      +person-data_title()
                        | (323) 555-6789
                      +person-data_hint()
                        | Work
                    +person-data_more()
                      +icon-button()
                        svg(width="17", height="21")
                          use(xlink:href="img/sprite.svg#hangout")
            +person-list_group()
              +person-list_note('color-main')
                svg(width="20", height="16")
                  use(xlink:href="img/sprite.svg#email")
              +person-list_list()
                +person-list_item()
                  +person-data('', 'mailto:aliconnors@example.com')
                    +person-data_content()
                      +person-data_title()
                        | aliconnors@example.com
                      +person-data_hint()
                        | Personal
                +person-list_item()
                  +person-data('', 'mailto:ali_connors@example.com')
                      +person-data_content()
                        +person-data_title()
                          | ali_connors@example.com
                        +person-data_hint()
                          | Work
            +person-list_group()
              +person-list_note('color-main')
                svg(width="14", height="20")
                  use(xlink:href="img/sprite.svg#place")
              +person-list_list()
                +person-list_item()
                  +person-data()
                    +person-data_content()
                      +person-data_title()
                        | 2000 SW 1st Ave San Francisco, CA 94112
                      +person-data_hint()
                        | Home
                +person-list_item()
                  +person-data()
                      +person-data_content()
                        +person-data_title()
                          | 1600 Amphitheatre Pkwy Mountain View, CA 94043
                        +person-data_hint()
                          | Work

block fab
  +fab()
    svg(width="18", height="18")
      use(xlink:href="img/sprite.svg#pencil")

//- block page-bottom
//-   script(src='js/some.js')
