// В этом файле должны быть стили для БЭМ-блока fab, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.fab {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  z-index: 1;
  right: 28px;
  bottom: 28px;
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $color-secondary;
  box-shadow: $shadow;
  color: $text-color--invert;
  cursor: pointer;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
