// В этом файле должны быть стили для БЭМ-блока page-sidebar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-sidebar {

  $block-name:                &; // #{$block-name}__element

  min-height: 100%;
  background-color: $element-bg;
}
