// В этом файле должны быть стили для БЭМ-блока person, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.person {

  $block-name:                &; // #{$block-name}__element

  display: block;
  width: 100%;
  padding: 12px 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__avatar {
    flex: 0 0 40px;
    max-width: 40px;
    margin-right: 14px;
  }

  &:hover {

    #{$block-name}__name {
      color: $color-main;
    }
  }
}
