//- Все примеси в этом файле должны начинаться c имени блока (person-block)

mixin person-block(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +person-block('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' person-block--' + modsList[i].trim();
      }
    }

  .person-block(class=allMods)&attributes(attributes)
    .person-block__inner
      block
